<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
        type='text/css'>
    <link rel="stylesheet" href="battleshipGame.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    body {
        margin: 30px;
        background-color: #06283D;
    }

    h1 {
        font-size: 60px;
        width: 500px;
        margin: 0 auto;
        margin-bottom: 120px;
        color: #DFF6FF;
        font-family: sans-serif;
    }

    h2 {
        color: #DFF6FF;
        font-family: sans-serif;
    }

    h3 {
        color: white;
    }

    h4 {
        font-family: sans-serif;
        font-size: 40px;
        letter-spacing: 1.6px;
        word-spacing: 2.8px;
        color: #DFF6FF;
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: small-caps;
        display: flex;
        justify-content: center;
    }

    .parent {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }

    .parent>div {
        padding: 10px;
        background-color: #47B5FF;
        border-radius: 3px;

        display: grid;
        place-items: center;


        font-size: 24px;
        font-weight: bold;
    }

    .gridContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
</style>

<body>

    <h1>Battleship Game! </h1>
    <div class="roomId"></div>
    <h4 class="winner"></h4>
    <div class="gridContainer">

        <h2>Your Grid</h2>
        <div id="your-grid" class="parent"></div>

        <div id="enemy-grid" class="parent">
            <div data-position="0"></div>
            <div data-position="1"></div>
            <div data-position="2"></div>
            <div data-position="3"></div>
            <div data-position="4"></div>
            <div data-position="5"></div>
            <div data-position="6"></div>
            <div data-position="7"></div>
            <div data-position="8"></div>
            <h2>Enemy Grid</h2>
        </div>
    </div>
</body>
<script>


    window.onload = function () {

        $('.roomId').append(`<h3>Numero de sala: ${window.localStorage.getItem('idroom')} </h3 > `)

        $.post('/game-data', {                                  //Le paso la data al post game-data para recibir lo qe necesito   
            id: window.localStorage.getItem('idroom'),      //Estaria bueno mostrar id de partida en front!!!
            player: window.localStorage.getItem('idplayer')
        },
            function (data) {
                console.log(data.grid)                                  //testingg
                let grid = data.grid
                for (let index = 0; index < grid.length; index++) {     //Comienzo a llenar el grid
                    const element = grid[index];
                    $('#your-grid').append(`<div data - position="${index}" > ${(element) ? element : ''}</div >`) //Prepend o append? //Si existe 0 en el grid del JSON entonces lo coloco, sino pongo nada
                }

            })

        setInterval(function () {

            $.get('/check-status', {
                id: window.localStorage.getItem('idroom'),
                player: window.localStorage.getItem('idplayer')
            },
                function (data) {
                    console.log(data.message)
                    if (data.matchClosed) {
                        $('.gridContainer').detach()
                        $('.winner').text(`Juego Finalizado. El ganador es el jugador numero: ${data.winner} :)`);

                    }
                    else if (!data.matchClosed) {
                        $.post('/game-data', {
                            id: window.localStorage.getItem('idroom'),
                            player: window.localStorage.getItem('idplayer')
                        },
                            function (data) {
                                console.log(data.grid)
                                console.log('actualizando grid!')
                                let grid = data.grid
                                $('#your-grid div').detach();
                                for (let index = 0; index < grid.length; index++) {
                                    const element = grid[index];
                                    $('#your-grid').append(`<div data - position="${index}" > ${(element) ? element : ''}</div >`) //Prepend o append? //Si existe 0 en el grid del JSON entonces lo coloco, sino pongo nada
                                }

                            })
                    }
                }
            )
        }, 1000);

    }

    $('#enemy-grid div').click(function () {                            //Le pongo la funcion de click al grid enemigo

        console.log($(this).attr('data-position'))                      //this = algun div
        $.post('/attack', {                                            //Cuando ataco mando todo esto
            id: window.localStorage.getItem('idroom'),
            player: window.localStorage.getItem('idplayer'),
            num: $(this).attr('data-position')                  // Get the value of an attribute  //testin
        },
            function (data) {                                   //callback!
                alert(data.message);
                if (data.drown == 1) {
                    console.log(data.drown)
                    $(this).text('X')                                //Esto funciona pero hay que refreshear
                }
                else if (data.drown == 0) {
                    console.log(data.drown)                     //Esto no funciona
                    $(this).remove();        //.fadeOut()
                }

            })
        setTimeout(function () {
            $.get('/check-status', {
                id: window.localStorage.getItem('idroom'),
                player: window.localStorage.getItem('idplayer')
            },
                function (data) {
                    console.log(data.message)
                    if (data.matchClosed) {
                        $('.gridContainer').append(`<h3>El ganador es el jugador numero: ${data.winner} </h3 > `);
                        $('.gridContainer').text(`El ganador es el jugador numero: ${data.winner}`)
                    }



                }
            )
        })
    })

</script>

</html>