<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/rooms/create" method="POST">
        <button>CREAR PARTIDA</button>
    </form>
    <h2>Entrar a una partida</h2>
    <form action="/rooms/join" method="GET">
        <input type="text" id="idNumber" name="id" placeholder="idpartida">
        <button>Go</button>
    </form>
</body>
<script>
</script>

</html>